* {
    padding: 0px;
    margin: 0px;
    /* overflow: hidden; */   
    font-family: 'Open Sans', sans-serif;
    src: url("//fonts.googleapis.com/css?family=Open+Sans");
}

.tcontainer{
    /* background-image: url("/home/ahmoura/Documentos/cjr/dinner-dash-20182-front/imagens/helloquence-61189.jpg"); */
    background-image: url("/home/ahmoura/Documentos/cjr/dinner-dash-20182-front/imagens/helloquence-61189.jpg"); 
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 50vh;
    background-color: #CCCCCC;
    background-blend-mode: multiply;
}

.top_text{
    margin-top: 15vh;
}

.top_text h1{
    font-size: 9vh; 
}

.top_text p{
    font-size: 3vh;
}

.bottom_navbar{
    padding-left: 5vw;
    padding-right: 5vw;
    max-height: 3.5vh;
}

.text-light .current{
    color: #FFD700;
}

.table_backoffice{
    margin-top: 5vh;

}

.status_col{
    padding: 0px 1vh 0px 1vh;
    text-align: center;
    border-radius: 5px;
}