/* about all page */
*{     
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


/* about full container*/
.fcontainer{
    display: flex;  
    flex-direction: row;
}

/* about left container */
.lcontainer{
    height: 101vh;
    width: 70vw;
    background-image: url(../../imagens/sabri-tuzcu-365440.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover ;
}

.main_img {
    height: 100%;
    width: 100%;
}

/* about right container */
.rcontainer {
    display:flex;
    justify-content: center;
    flex-grow: 2;
}

.rcontent{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.rcontent h1{
    padding-bottom: 6vw;
    font-size: 5vh;
}

.rcontent p{
    color: #AAAAAA;
    font-size: 2vh;
}

.data_input{
    width: 25vw;
    height: 5vh;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin: 1vh;
    font-size: 2vh;
}

.button_signin,.button_signup:hover{
    color: #FFFFFF;
    background-color: #39cc6c;
    border: 2px solid #39cc6c;
}

.button_signup,.button_signin:hover{
    color: #39cc6c;
    background-color: #FFFFFF;
    border: 2px solid #39cc6c;
}

.rcontent hr{
    border: 1px solid #DDDDDD;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

@media (max-width: 340px) {
	.lcontainer {
        background-size: auto;
        display: flex;
        visibility: collapse;
    }
    .data_input{
        width: 70vw;
        font-size: 3vh;
    }
    .rcontent h1{
        font-size: 4vh; 
        padding-top: 15vh;
    }
    .rcontent{
        width: 75vw;
        height: 100%;
    }
}

@media (max-height: 300px) {
    .data_input{
        border-radius: 2px;
    }